<a href="https://colab.research.google.com/github/mrudulapatil/PYTHONASSIGNMENT3/blob/main/Copy_of_Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
def divide(a,b,c):
  sum1 =[]
  add1 = 0
  for i in range(a,b+1):
    if i%c==0:
      sum1.append(i)
    else:
      pass
  if sum(sum1)==0:
    print("no number between", a ,"and", b, "can be evenly divided by ", c)
  else:
    total = sum(sum1)
    print("the sum of the numbers that are evenly divided by ", c, "from the range  ", a ,"to ",  b,"is",total)
divide(4,11,22)

no number between 4 and 11 can be evenly divided by  22

In [ ]:

#Create a function that returns True if a given inequality expression is correct and False otherwise.
def check(s):
    abc=eval(s)
    if abc:
        return True
    else:
      return False


print(check("12 < 17 < 125"))

True

In [ ]:
#2Create a function that replaces all the vowels in a string with a specified character.
def replace():
  print("Enter a string: ")
  str =input()
  print("enter desired character: ")
  char=input()
  newstr= ""
  for i in range(len(str)):
    if str[i]=='a' or str[i]=='e'or str[i]=='i'or str[i]=='o'or str[i]=='u' :
      newstr = newstr +char
    else:
      newstr = newstr +str[i]
  print("\nOriginal String: ", str)
  print("New string: ", newstr)
replace()

Enter a string:
greenworld
enter desired character:
X

Original String:  greenworld
New string:  grXXnwXrld

In [ ]:
#Write a function that calculates the factorial of a number recursively.
def factorial(n): 
    if (n==1 or n==0): 
        return 1
    else:     
        return (n * factorial(n - 1)) 
  
num = 23
print("number : ",num)
print("Factorial : ",factorial(num))

number :  23
Factorial :  25852016738884976640000

In [ ]:

#Create a function that computes the hamming distance between two strings.
#Create a function that computes the hamming distance between two strings.
def hammingDist(str1, str2):
    i = 0
    count = 0
 
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count
 
str1 = "strong"
str2 = "strung"

print(hammingDist(str1, str2))

1

In [ ]:
#Create a function that takes a list of non-negative integers and strings and return a new list without the strings.
def filter_list(l):  
    output = []
    for i in l:  
        if type(i) != str:  
            output.append(i)  
    return output

print(filter_list([154,26,'B','R',144,116,'W']))

[154, 26, 144, 116]

In [ ]:
#The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
def reverse(str):
    str = str[::-1]
    return str.swapcase()

reverse('PEACEMAKER')

'rekamecaep'

In [ ]:
#with middle being everything in between the first and last element.
list=[1,2,3,4,5,6]
first=list[0]
middle=list[1:-1]
last=list[-1]
print("first =",first )
print("middle =",middle)
print("last = ",last)

first = 1
middle = [2, 3, 4, 5]
last =  6

In [ ]:
#Write a function that moves all elements of one type to the end of the list.
def move_end(array, toMove):
    i = 0
    s = len(array) - 1
    while (i < s):
        while (i < s and array[s] == toMove):
            s-=1
  
        if (array[i] == toMove):
            array[i], array[s] = array[s] , array[i]
        i += 1
    return array

arr = ['l', 'l', 'l', 'a']
k = 'l'
ans = move_end(arr, k)
for i in range(len(arr)):
    print(ans[i] ,end= " ")

a l l l

In [ ]:
#Create a function that takes a string and returns a string in which each character is repeated once.
def double(str):
    return ''.join([c+c for c in str])

print(double('planetearth'))

ppllaanneetteeaarrtthh

In [ ]:
#Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.
def reverse(arg=None):
    return not arg if type(arg) == bool else "boolean expected"

print(reverse(True))
print(reverse(False))
print(reverse(0))
print(reverse(None))

False
True
boolean expected
boolean expected

In [ ]:
#Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.
def layers(n):
    thickness = 0.5
    for _ in range(n):
        thickness *= 2
    return str(thickness / 1000)+'m' # for meters

print(layers(2))
print(layers(3))

0.002m
0.004m

In [ ]:
#Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string
def index_of_cap(word):
    indices = []
    for i in range(len(word)):
        if word[i].isupper():
             indices.append(i)
    return indices

print(index_of_cap('BReaKER'))
print(index_of_cap('JGUjbIh'))
print(index_of_cap('aderdd'))

[0, 1, 4, 5, 6]
[0, 1, 2, 5]
[]

In [ ]:
#Using list comprehensions, create a function that finds all even numbers from 1 to the given number.
def find_even_no(n):
    even =[x for x in range(2,n+1) if x % 2 == 0]
    return even

n = int(input('Enter a number : '))
find_even_no(n)

Enter a number : 11

[2, 4, 6, 8, 10]

In [ ]:


#Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only
def filter_list(lst):
    intlst = []
    for i in lst:
        if type(i) == int:
            intlst.append(i)
    return intlst 

filter_list([13, 22, 31, 'M', 'R', 41])

[13, 22, 31, 41]

In [ ]:
#Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself.
def add_index(lst):
    ind = 0
    index = []
    for i in lst:
        index.append(lst.index(i,ind) + i)
        ind+=1
    return index

add_index([11, 12, 13, 14, 15])

[11, 13, 15, 17, 19]

In [ ]:
#Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth
import math
pi = math.pi
def cone_volume(r, h):
    return round((1 / 3) * pi * r * r * h)

radius = float(input("Enter value of radius= "))
height = float(input("Enter value of height= "))

print( "Volume Of Cone : ", cone_volume(radius, height) )

Enter value of radius= 44
Enter value of height= 33
Volume Of Cone :  66903

In [ ]:
#Write a function that gives the number of dots with its corresponding triangle number of the sequence.
def triangle(n):
    return n*(n+1)*0.5

n = int(input('Enter the trinalge number :'))
print("The {}th triangle has {} dots ".format(n,int(triangle(n))))

triangle(1)

Enter the trinalge number :43
The 43th triangle has 946 dots

1.0

In [ ]:
#Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_of_list = sum(lst)
    return total - sum_of_list

print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))

5