<a href="https://colab.research.google.com/github/mrudulapatil/pythonnPROGRAMMING2/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
        
car = Vehicle(155,45 )
print(car.max_speed, car.mileage)

155 45

In [2]:
class Vehicle:
    pass

In [3]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):                
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

In [4]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def bus_seating_capacity(self, capacity):
        return capacity

class Bus(Vehicle):
    
    def seating_capacity(self, capacity=50):
        return super().bus_seating_capacity(capacity=50)
bus = Bus("Tesla", 180, 20)
print(bus.seating_capacity())

50

In [5]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 13, 96)
print("Total Bus fare is:", School_bus.fare()) 

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 11, 76)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 9600
Total Bus fare is: 7600